:root {
  --clr-primary-darkmagenta: #502050;
  --clr-primary-softpink: #ee68a4;

  --clr-neutral-darkgrayishmagenta: #937b92;
  --clr-neutral-lightgrayishmagenta: #f7f2f7;
  --clr-neutral-white: #ffffff;

  --ff-base: 'League Spartan', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-base: .9375rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: inherit;
  transition: 0.3s;
}

body {
  font-family: var(--ff-base);

  min-height: 100vh;
  display: grid;
  place-content: center;
}



@media (max-width: 1130px) {
  .bgtop-desktop {
    display: none;
  }
  
  .bgbot-desktop {
    display: none;
  }

  .bgtop-mobile {
    height: 50%;
    position: absolute;
    z-index: -1;
  }
  
  .bgbot-mobile {
    display: none;
  }

  .container {
    max-width: 375px;
    height: 1530px;
  }

  .top {
    margin-top: 5.125rem;
    margin-bottom: 3.0625rem;
  }
  
  
  .left {
    width: 327px;
    height: 219px;
    margin-bottom: 2.4375rem;
  }
  
  .left-title {
    height: 102px;
    margin-bottom: 1.0625rem;
  }
  
  .title {
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
    line-height: 2rem;
    letter-spacing: -1.43px;
    color: var(--clr-primary-darkmagenta);
    text-align: center;
  }
  
  .left-title-info {
    height: 100px;
    
  }
  
  .title-info {
    font-weight: var(--fw-medium);
    font-size: 1.1875rem;
    line-height: 1.5625rem;
    letter-spacing: -0.63px;
    color: var(--clr-neutral-darkgrayishmagenta);
    
    text-align: center;
  }
   
  
  .right {
    width: 327px;
    height: 266px; 
  }
  
  .right-firstrow,
  .right-secondrow,
  .right-thirdrow {
    width: 327px;
    height: 78px;
    border-radius: .5rem;
    background-color: var(--clr-neutral-lightgrayishmagenta);
  }
  
  .right-firstrow,
  .right-secondrow { 
    margin-bottom: 1rem;
  }
  
  .firstrow,
  .secondrow,
  .thirdrow {
    text-align: center;
  }
  
  .star-icon {
    padding-top: 1rem;
    padding-right: .528125rem;
    padding-bottom: .51875rem;
    
  }
  
  .rating-reviews {
    font-weight: var(--fw-bold);
    font-size: 1.0625rem;
    line-height: .9775rem;
    color: var(--clr-primary-darkmagenta);
  }
  
  .firstcolumn,
  .secondcolumn {
    margin-bottom: 1rem;
  }
   
  .review-container {
    width: 327px;
    height: 248px;
  
    background-color: var(--clr-primary-darkmagenta);
    border-radius: .5rem;
  
    padding: 2.5rem 2rem 2.1875rem 2rem;
  }
  
  .review-top {
    display: flex;
    align-items: center;
  
    margin-bottom: 1.9375rem;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .status {
    margin-left: 1.4375rem;
  }
  
  .name {
    font-weight: var(--fw-bold);
    font-size: 1.0625rem;
    line-height: .9775rem;
    color: var(--clr-neutral-white);
    margin-bottom: .25rem;
  }
  
  .alias {
    font-weight: var(--fw-regular);
    font-size: 1.0625rem;
    line-height: .9775rem;
    color: var(--clr-primary-softpink);
  }
  
  .review-bot {
  }
  
  .review-info {
    font-weight: var(--fw-medium);
    font-size: 1.0625rem;
    line-height: 1.375rem;
    letter-spacing: -0.3px;
    color: var(--clr-neutral-white);
  }
}

@media (min-width: 1130px) {
  .bgtop-mobile {
    display: none;
  }
  
  .bgbot-mobile {
    display: none;
  }

  .bgtop-desktop {
    width: 584px;
    height: 362px;
    height: 50%;
    position: absolute;
    z-index: -1;
  }
  
  .bgbot-desktop {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75%;
    z-index: -1;
  }

  .container {
    max-width: 1440px;
    height: 800px;
  
    padding: 7.375rem 10.5625rem 6.25rem 10.3125rem;
  }
  
  .top {
    width: 1110px;
    height: 245px;
  
    display: grid;
    grid-template-columns: 50% 50%;
    place-content: center;
    margin-bottom: 4.4375rem;
  }

  .left {
    width: 445px;
    height: 245px;
  }
  
  .left-title {
    height: 154px;
    margin-bottom: 1rem;
  }
  
  .title {
    font-weight: var(--fw-bold);
    font-size: 3.5rem;
    line-height: 3rem;
    letter-spacing: -2px;
    color: var(--clr-primary-darkmagenta);
  }
  
  .left-title-info {
    height: 75px;
  }
  
  .title-info {
    font-weight: var(--fw-medium);
    font-size: 1.1875rem;
    line-height: 1.5625rem;
    letter-spacing: -0.63px;
    color: var(--clr-neutral-darkgrayishmagenta);
    margin-bottom: 1rem;
  }
  
  
  
  .right {
    width: 540px;
    height: 200px;
    
    padding-top: 1.6875rem;
    padding-bottom: 1.125rem;
    padding-left: .75rem;
  }
  
  .right-firstrow,
  .right-secondrow,
  .right-thirdrow {
    width: 445px;
    height: 56px;
    border-radius: .5rem;
    background-color: var(--clr-neutral-lightgrayishmagenta);
  
    display: flex;
    align-items: center;
  }
  
  .right-firstrow,
  .right-secondrow { 
    margin-bottom: 1rem;
  }
  
  .right-secondrow {
    margin-left: 3rem;
  }
  
  .right-thirdrow {
    margin-left: 6rem;
  }
  
  .firstrow,
  .secondrow,
  .thirdrow {
    display: flex;
    align-items: center;
    padding-left: 2rem;
  }
  
  .star-icon {
    padding-right: .528125rem;
    align-items: center;
  }
  
  .rating-reviews {
    font-weight: var(--fw-bold);
    font-size: 1.0625rem;
    line-height: .9775rem;
    color: var(--clr-primary-darkmagenta);
    margin-left: 1.5rem;
    align-items: center;
  }

  .bot {
    width: 1110px;
    height: 266px;
  
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: space-between;
  }
  
  .secondcolumn {
    margin-top: 1rem;
  }
  
  .thirdcolumn {
    margin-top: 2rem;
  }
   
  .review-container {
    width: 350px;
    height: 234px;
  
    background-color: var(--clr-primary-darkmagenta);
    border-radius: .5rem;
  
    padding: 2.5rem 2rem 2.1875rem 2rem;
  }
  
  .review-top {
    display: flex;
    align-items: center;
  
    margin-bottom: 1.9375rem;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .status {
    margin-left: 1.4375rem;
  }
  
  .name {
    font-weight: var(--fw-bold);
    font-size: 1.0625rem;
    line-height: .9775rem;
    color: var(--clr-neutral-white);
    margin-bottom: .25rem;
  }
  
  .alias {
    font-weight: var(--fw-regular);
    font-size: 1.0625rem;
    line-height: .9775rem;
    color: var(--clr-primary-softpink);
  }
  
  .review-bot {
  }
  
  .review-info {
    font-weight: var(--fw-medium);
    font-size: 1.0625rem;
    line-height: 1.375rem;
    letter-spacing: -0.3px;
    color: var(--clr-neutral-white);
  }
}


