@import url("root.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;

  transition: 0.3s;
}

body {

  min-height: 100vh;
  display: grid;
  place-content: center;
}


@media (min-width: 768px) and (max-width: 1439px) { 
  .wrapper {
    max-width: 768px;
    height: 2287px;
  
    background-image: url("assets/tablet/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: top le;
  }

  header {
    width: 768px;
    height: 700px;
  }
 
  .header-container {
    width: 339px;
    height: 410px;
    margin-top: 9rem;
    margin-left: 23.5rem;
  }

  .company {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: 4.375rem;
    line-height: 4rem;
    letter-spacing: .75px;
    color: var(--clr-primary-dark);
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  .text {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--clr-primary-dark);
    margin-bottom: 3rem;
  }

  .location {
    display: flex;
  }

  .ourlocation {
    font-family: var(--ff-primary);
    font-weight: var(--fw-extrabold);
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--clr-primary-white);
    letter-spacing: 3.64px;
    text-transform: uppercase;
    
    padding: var(--content-button-padding);
    border-style: none;
  
    background-color: var(--clr-primary-dark);
  
    cursor: pointer;
  }
  
  .ourlocation:hover  {
    opacity: 0.8;
  }
  
  .arrow {
    padding: var(--content-arrowbutton-padding);
    background-color: var(--clr-primary-beige);
    cursor: pointer;
  }
  
  .arrow:hover {
    background-color: #bb7c52;
  }


  main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 7.5rem;
  }


  .main-container {
    width: 690px;
    height: 1130px;
  }

  .asia-desktop,
  .asia-mobile,
  .bank-desktop,
  .bank-mobile,
  .ausstellung-desktop,
  .ausstellung-mobile {
    display: none;
  }

  .main-container-top {
    display: grid;
    grid-template-columns: 292px 398px;
    align-items: center;

    margin-bottom: .75rem;
  }

  .mc-art-gallary-info {
    width: 223px;
  }

  .catchphrase {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: 3.125rem;
    line-height: 2.8rem;
    color: var(--clr-primary-dark);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  .catchphrase-info {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-s);
    line-height: var(--content-lh-28);
    color: var(--clr-primary-gray);
  }

  .main-container-bot {
    display: grid;
    grid-template-columns: 410px 280px;
  }

  .pictureabovecard {
    margin-bottom: .75rem;
  }

  .cardunderpicture {
    width: 280px;
    height: 392px;
    background-color: var(--clr-primary-dark);

    padding: 5.25rem 1.8rem;
  }

  .cardtitle {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: 3.125rem;
    line-height: 2.8rem;
    color: var(--clr-primary-white);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  .cardinfo {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-s);
    line-height: var(--content-lh-28);
    color: var(--clr-primary-white);
  }

  footer {
    width: 100%;
    height: 216px;
    background-color: var(--clr-primary-dark);

    padding: 3.5rem 2.5rem;
  }

  .footer-container {
    width: 689px;
    height: 104px;

    display: grid;
    grid-template-columns: 175px 414px 100px;
  }

  .logo {
    width: 110px;
  }

  .footer-middle {
    width: 281px;
  }

  .footer-info {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--clr-primary-white);
  }

  .footer-right {
    height: 20px;
    display: flex;
    justify-content: space-between;
  }



  .facebook-icon:hover,
  .instagram-icon:hover,
  .twitter-icon:hover {
    filter: invert(69%) sepia(100%) saturate(458%) hue-rotate(330deg) brightness(88%) contrast(70%)
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
    height: 2555px;
  
    background-image: url("assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: top;
  }
  
  
  header {
    height: 800px;
    margin-bottom: 11.25rem;
  }
  
  .header-container {
    width: 1275px;
    display: grid;
    grid-template-columns: 650px 625px;
  }
  
  .hcontainer-left {
    width: 450px;
    height: 800px;
    background-color: var(--clr-primary-dark);
  }
  
  .header-logo {
    width: 615px;
    padding-top: 11.875rem;
    padding-left: 10.3125rem;
  }
  
  .company {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: var(--fs-heading-xl);
    line-height: var(--content-lh-88);
    color: var(--clr-primary-white);
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .black-lery {
    color: var(--clr-primary-dark)
  }
  
  .location-card {
    padding-top: 11.875rem;
  }
  
  .text {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-m);
    line-height: var(--content-lh-32);
    color: var(--clr-primary-gray);
    margin-bottom: 4rem;
    padding-left: 17rem;
  }
  
  .location {
    padding-left: 17rem;
    display: flex;
  }
  
  .ourlocation {
    font-family: var(--ff-primary);
    font-weight: var(--fw-extrabold);
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--clr-primary-white);
    letter-spacing: 3.64px;
    text-transform: uppercase;
    
    padding: var(--content-button-padding);
    border-style: none;
  
    background-color: var(--clr-primary-dark);
  
    cursor: pointer;
  }
  
  .ourlocation:hover  {
    opacity: 0.8;
  }
  
  .arrow {
    padding: var(--content-arrowbutton-padding);
    background-color: var(--clr-primary-beige);
    cursor: pointer;
  }
  
  .arrow:hover {
    background-color: #bb7c52;
  }
  
  main {
    padding: 0rem 10.3125rem 5rem 10.3125rem;
  }
  
  .main-container {
    width: 1110px;
    margin-bottom: 6.25rem;
  }

  .asia-tablet,
  .asia-mobile,
  .bank-tablet,
  .bank-mobile,
  .ausstellung-tablet,
  .ausstellung-mobile {
    display: none;
  }
  
  .main-container-top {
    display: grid;
    grid-template-columns: 475px 635px;
    align-items: center;
  
    margin-bottom: 2rem;
  }
  
  .mc-art-gallary-info {
    width: 350px;
  }
  
  .catchphrase {
    font-family: var(--ff-primary);
    font-weight: 900;
    font-size: var(--fs-heading-l);
    line-height: 4rem;
    color: var(--clr-primary-dark);
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .catchphrase-info {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-m);
    line-height: 2rem;
    color: var(--clr-primary-gray);
  }
  
  .main-container-bot {
    display: grid;
    grid-template-columns: 665px 445px;
  }
  
  .pictureabovecard {
    margin-bottom: 1.69rem;
  }
  
  .cardunderpicture {
    width: 445px;
    height: 377px;
    background-color: var(--clr-primary-dark);
  
    padding: 4rem 3rem;
  }
  
  .cardtitle {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: var(--fs-heading-m);
    line-height: 3.75rem;
    color: var(--clr-primary-white);
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  
  .cardinfo {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-m);
    line-height: var(--content-lh-32);
    color: var(--clr-primary-white);
  }
  
  
  footer {
    width: 100%;
    height: 244px;
    background-color: var(--clr-primary-dark);
  
    padding: 5rem 10.3125rem;
  }
  
  .footer-container {
    width: 1110px;
    height: 84px;
  
    
  
    display: grid;
    grid-template-columns: 300px 710px 100px;
  }
  
  .logo {
    width: 160px;
  }
  
  .footer-middle {
    width: 430px;
  }
  
  .footer-info {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-s);
    line-height: var(--content-lh-28);
    color: var(--clr-primary-white);
  }
  
  .footer-right {
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  
  
  .facebook-icon:hover,
  .instagram-icon:hover,
  .twitter-icon:hover {
    filter: invert(69%) sepia(100%) saturate(458%) hue-rotate(330deg) brightness(88%) contrast(70%)
  }
}