@import url("root.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  transition: 0.2s;
}
  
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}



@media (min-width: 768px) and (max-width: 1439px) { 
  .wrapper {
    max-width: 768px;
    height: 1252px;
  }
  
  #map {
    width: 100%;
    height: 600px; 
    filter: grayscale(1);
    position: relative;
  }
  
  .backtohome {
    position: absolute;
    top: 0;
    z-index: 99;
    display: flex;
    padding-left: 2.5rem; 
  }
  
  .home {
    font-family: var(--ff-primary);
    font-weight: var(--fw-extrabold);
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--clr-primary-white);
    letter-spacing: 3.64px;
    text-transform: uppercase;
  
    padding: var(--content-button-padding);
    border-style: none;
    background-color: var(--clr-primary-dark);
    cursor: pointer;
    opacity: 1;
  }
  
  .home:hover  {
    background-color: var(--clr-primary-gray);
  }
  
  .arrow {
    padding: var(--content-arrowbutton-padding);
    background-color: var(--clr-primary-beige);
    cursor: pointer;
  }
  
  .arrow:hover {
    background-color: #bb7c52;
  }
  
  
  main {
    width: 100%;
    height: 436px;
    background-color: var(--clr-primary-dark);
    padding: 5.5rem 2.5rem 5rem 2.45rem;
  }
  
  .main-container {
    width: 689px;
    height: 268px;
  
    display: grid;
    grid-template-columns: 291px 398px;    
  }
  
  .mcontainer-left {
    width: 223px;
  }
  
  .title {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: 3.4375rem;
    line-height: 3.125rem;
    color: var(--clr-primary-white);
  }
  
  
  .street {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: 2rem;
    line-height: var(--content-lh-32);
    color: var(--clr-primary-beige);
    margin-bottom: 1.25rem;
  }

  .mcontainer-left {
    
  }
  
  .moreinfo {
    list-style-type: none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-s);
    line-height: var(--content-lh-28);
    color: var(--clr-primary-white);
    margin-bottom: 1.25rem;
  }
  
  .content {
    width: 398px;
  }
  
  .text {
    list-style-type: none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-s);
    line-height: var(--content-lh-28);
    color: var(--clr-primary-white);
  }
  
  
  footer {
    width: 100%;
    height: 245px;
    background-color: var(--clr-primary-beige);
  
    padding: 3.5rem 2.5rem;
  }
    
  .footer-container {
    width: 689px;
    height: 104px;
  
    display: grid;
    grid-template-columns: 175px 414px 100px;
  }
    
  .logo {
    width: 110px;
  }
    
  .footer-middle {
    width: 281px;
  }
    
  .footer-info {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--clr-primary-dark);
  }
    
  .footer-right {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .facebook-icon-black, 
  .instagram-icon-black, 
  .twitter-icon-black {
    height: 25px;
  }
  
  
  .facebook-icon-black:hover,
  .instagram-icon-blackhover,
  .twitter-icon-black:hover {
    opacity: 0.7;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
    height: 1392px;
  }
  
  #map {
    width: 100%;
    height: 600px; 
    filter: grayscale(1);
    position: relative;
  }
  
  .backtohome {
    position: absolute;
    top: 0;
    z-index: 99;
    display: flex;
    padding-left: 9.75rem; 
  }
  
  .home {
    font-family: var(--ff-primary);
    font-weight: var(--fw-extrabold);
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--clr-primary-white);
    letter-spacing: 3.64px;
    text-transform: uppercase;
  
    padding: var(--content-button-padding);
    border-style: none;
    background-color: var(--clr-primary-dark);
    cursor: pointer;
    opacity: 1;
  }
  
  .home:hover  {
    background-color: var(--clr-primary-gray);
  }
  
  .arrow {
    padding: var(--content-arrowbutton-padding);
    background-color: var(--clr-primary-beige);
    cursor: pointer;
  }
  
  .arrow:hover {
    background-color: #bb7c52;
  }
  
  
  main {
    width: 100%;
    height: 548px;
    background-color: var(--clr-primary-dark);
    padding: 6.5rem 10.3125rem 8rem 10.3125rem;
  }
  
  .main-container {
    width: 1110px;
    height: 316px;
  
    display: grid;
    grid-template-columns: 50% 50%;    
  }
  
  .mcontainer-left {
    width: 300px;
  }
  
  .title {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: var(--fs-heading-l);
    line-height: var(--content-lh-70);
    color: var(--clr-primary-white);
  }
  
  
  .street {
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: var(--fs-heading-s);
    line-height: var(--content-lh-36);
    color: var(--clr-primary-beige);
    margin-bottom: 1.5rem;
  }
  
  .moreinfo {
    list-style-type: none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-m);
    line-height: var(--content-lh-32);
    color: var(--clr-primary-white);
    margin-bottom: 2rem;
  }
  
  .content {
    width: 540px;
  }
  
  .text {
    list-style-type: none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-m);
    line-height: var(--content-lh-32);
    color: var(--clr-primary-white);
  }
  
  
  footer {
    width: 100%;
    height: 245px;
    background-color: var(--clr-primary-beige);
  
    padding: 5rem 10.3125rem;
  }
    
  .footer-container {
    width: 1110px;
    height: 84px;
  
    display: grid;
    grid-template-columns: 300px 710px 100px;
  }
    
  .logo {
    width: 160px;
  }
    
  .footer-middle {
    width: 430px;
  }
    
  .footer-info {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-body-s);
    line-height: var(--content-lh-28);
    color: var(--clr-primary-dark);
  }
    
  .footer-right {
    width: 125px;
    display: flex;
    justify-content: space-between;
  }
  
  .facebook-icon-black, 
  .instagram-icon-black, 
  .twitter-icon-black {
    height: 25px;
  }
  
  
  .facebook-icon-black:hover,
  .instagram-icon-blackhover,
  .twitter-icon-black:hover {
    opacity: 0.7;
  }
}


