:root {
    --clr-primary-violet: #674baf;
    --clr-primary-softmagenta: #e882e8;

    --ff-heading: 'Poppins', sans-serif;    
    --ff-body: 'Open Sans', sans-serif;

    --fw-regular: 400;
    --fw-semibold: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body {
    background-color: var(--clr-primary-violet);
}

@media (max-width: 1440px)  {
  .background-desktop {
    display: none;
  }  

  .background-mobile {
    position: absolute;
    z-index: -1;
  }

  .container-header {
    display: flex;
    justify-content: start;
    padding-top: 2.3875rem;
    padding-left: 2.25rem;
  }

  .logo {
    width: 120px;
    margin-bottom: 4.3625rem;
  }
  
  .left {
    display: flex;
    justify-content: center;
  }

  .container-main {
    display: grid;
    place-content: center;
    grid-template-columns: 304px;
  }

  .illustration {
    width: 296px;
    height: 209px;
    margin-bottom: 3.75rem;
  }

  .title {
    font-family: var(--ff-heading);
    font-weight: var(--fw-semibold);
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
  }

  .info {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
  }
  
  .center-button {
    display: flex;
    justify-content: center;
  }

  .register {
    font-family: var(--ff-heading);
    font-weight: var(--fw-regular);
    font-size: .75rem;
    line-height: 1.125rem;
    color: var(--clr-primary-violet);
    margin-bottom: 3rem;
    cursor: pointer;

    border-style: none;
    padding: .705625rem 4.69625rem .669375rem 4.74125rem;
    border-radius: 1.25rem;
    background-color: white;
  }

  .register:hover {
    background-color: #e882e8;
    color: white;
   }

  .register:active {
    opacity: 0.8;
    color: white;
   }

   .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem
    }

    .facebook-icon,
    .twitter-icon,
    .instagram-icon {
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .facebook-icon:hover,
    .twitter-icon:hover,
    .instagram-icon:hover {
        height: 40px;
        width: 40px;
    }
}



